<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--有很多连接字符串方式,这两种最常见-->
    <!--常见的方式1：建议采用此方法-->
    <add name="SQLSERVER_CONNECTION" connectionString="Data Source=localhost\gddees;Initial Catalog=GDDEAP;User ID=ees_user;Password=ees_user;"/>
    <!--常见的方式2：能看懂即可-->
    <add name="SQLSERVER_CONNECTION2" connectionString="Data Source=localhost\gddees;Initial Catalog=GDDEAP;User ID=ees_user;Password=ees_user;"/>
  </connectionStrings>
</configuration>